mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    //width: 270px;
    > button {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }
    > div {
      font-size: 18px;
    }
  }
  .user_info {
    display: flex;
    align-items: center;
    .logout {
      padding-right: 15px;
      font-size: 17px;
    }
    .user_name {
      line-height: 1;
      font-size: 17px;
      padding: 0 15px;
    }
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #fff;
    }
  }
}
mat-sidenav {
  width: 280px;
  position: fixed;
  top: 60px;
}
mat-sidenav-content {
  min-height: 100%;
  position: relative;
  padding: 30px;
}


.mat-list-item {
  &.active {
    background-color: #3f51b5;
    color: #fff;
  }
}

