<div class="wrapper">
  <mat-spinner *ngIf="exist === 'load'"></mat-spinner>


  <div *ngIf="exist === 'success'">
    <div class="download_box">
      <h2 class="download">Download Mobile App</h2>
      <div class="links">
        <span class="play_market">Play Market</span>
        <button type="button" class="app_store" (click)="goToAppStore()"></button>
      </div>
    </div>
    <div class="regist_box">
      <a class="regist_list" mat-raised-button color="primary" [href]="getRegistLink()" target="_blank">Registration in
        the app</a>
    </div>
  </div>

  <div class="error" *ngIf="noExist === true && exist === 'load'">Error. There is no such user.</div>

</div>







